.Rproj.user
.Rhistory
.RData
.Ruserdata


# Folder w/ data
data/

# Folder with html files for maps viz
ke-*/

# Viz outputs

/.quarto/

#Inter-outputs sensitive
2025-12-26_portion-consumer-non-consumers_afe-g-d.csv