.Rproj.user
.Rhistory
.RData
.Ruserdata


# Folder w/ data
data/ 

# Folder with html files for maps viz
ke-*/

# Viz outputs
*.html

# Sensitive inter-outputs
*afe-g-d.csv
*.xlsx

# Excel temp files
~$*.xlsx